.header {
  margin: 33px 33px 80px 31px;
}

.section-collaboration {
  margin-bottom: 187px;
}

.section-reimagining {
  margin-bottom: 189px;
}

.section-kickstart {
  margin-bottom: 131px;
}

.section-onboard {
  margin-bottom: 171px;
}

.section-contributor {
  margin-bottom: 184px;
}

.section-helpus {
  margin-bottom: 52px;
}

.divider {
  margin-bottom: 44px;
}

.section-start-openprise {
  margin-bottom: 126px;
}

.footer {
  margin-bottom: 44px;
}
